body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    direction: rtl;
    text-align: "right";
    padding: 50px;
  }
  
  .container {
    background-color: #fff;
    padding: 30px;/* يعمل مسافة بين الحكي و حدود الصفحة-*/
    border-radius: 15px;/*يخلي زوايا العنصر الأربعة (اليمين، اليسار، فوق، تحت) مدوّرة بدل ما تكون حادة */
    width: 300px;/*المسؤول عن عرض العنصر في الصفحة!*/
    margin: auto;/* توسّط  تلقائيًا في الصفحة ا !" */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);/* هو اللي يعطي للصندوق أو العنصر ظل أنيق وناعم 
     0 	الإزاحة الأفقية: ما يتحرك يمين ولا يسار (يظل في نفس المكان)
    0 	الإزاحة العمودية: ما ينزل ولا يطلع (يظل في نفس المكان)
    10px	مقدار التمويه للظل: 10px → ظل ناعم ومنتشر
    (غير موجود) (spread-radius)	كم يمتد الظل للخارج أو الداخل (لو حطيته يكون رابع رقم)*/
  }
  
  .input-section {
    margin-bottom: 20px;/*تباعد بين العناصر العمودية*/
  }
  
  input[type="text"] {/* ينسق خانة كتابة المهمة*/
    padding: 10px;/*مسافة داخلية داخل الخانة.*/
    width: 70%;
    border: 1px solid #ccc;/*حدود رفيعة رمادية*/
    border-radius: 5px;/*حواف ناعمة */
  }
  
  button {/*🟢 ينسق الزر "أضف":*/
    padding: 10px 15px;/*حجم الزر من الداخل*/
    background-color: #4CAF50;
    color: white;
    border: none;/*من دون حدود*/
    border-radius: 5px;
    cursor: pointer;/*يخلي شكل الماوس يتغير ليد لما تمر عليه.*/
  }
  
  ul {
    list-style: none;/*يشيل النقاط اللي تظهر عادة جنب كل عنصر. */
    padding: 0;/*يشيل أي مسافة داخلية. */
  }
  
  li {/*ينسق كل مهمة في القائمة /*/
    background-color: #eee;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  li.completed {
    text-decoration: line-through;/*class هذا يطبق فقط إذا كانت المهمة عندها 
   complete اسمه */
    background-color: #c8e6c9;
  }
 /* هذا الكلاس نضيفه ونشيله باستخدام 
  JavaScript لما نضغط على المهمة*/

  p {
    color: blue;
    font-size: 4;
  }
  h1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6;}